<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>COGS!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/cogs.css" th:href="@{/css/cogs.css}"/>
</head>

<body>

<p th:text="'Welcome ' + ${userName}"></p>

<ul th:each="artist : ${artists}">
    <li >
        <p th:text="${artist.name}"></p>
        <ul th:each="release : ${artist.releases}">
            <li th:text="'&nbsp;' + ${release}"></li>
        </ul>
    </li>
</ul>

<form action="#" th:action="@{/home/}" th:object="${submittedArtistName}" method="post">
    <input type="text" th:field="*{artistName}" />
    <button type="submit">Submit artist</button>
</form>

</body>

</html>