<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>COGS!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/cogs.css" th:href="@{/css/cogs.css}"/>
</head>

<body>

COGS:

<form action="#" th:action="@{/}" th:object="${submittedUserName}" method="post">
    <input type="text" th:field="*{userName}" />
    <button type="submit">"Login"</button>
</form>

</body>

</html>